%form{class: 'search', action: '/results', method: 'get'}
  .small-logo
    %a{href: '/'}
      <span class='orange'>gee</span><span class='blue'>tar</span>
  .search-box
    %input{type: 'text', name: 'query', value: params[:query]}
  .search-button
    %input{value: 'Search', type: 'submit'}
