%p
  This app scrapes ultimate-guitar.com and displays the tabs without the ads. Enter a search term to get started.

= haml :_search

%p
  You're welcome.

%p
  by
  %a{href: 'https://github.com/jpalmieri'}= "Joe Palmieri"
