= haml :_search

Search Results:

%table
  %tbody
    - search_results.each do |result|
      %tr
        %td
          = result.artist
        %td
          %a{ href: "/show?url=#{result.title[:href]}" }= result.title[:text]
        %td
          = result.item_type
