%form{action: '/results', method: 'post'}
  %input{type: 'text', name: 'query', value: params[:query]}
  %input{type: 'submit'}

some results

%table
  %tbody
    - search_results.each do |result|
      %tr
        %td
          = result.artist
        %td
          %a{ href: result.title[:href] }= result.title[:text]
        %td
          = result.item_type
