$phoneQuery: 'screen and (max-width: 750px)'

$stdMargin: 8.5em
$phoneMargin: 0.5em
$tabletMargin: 2.5em

$color1: #F4A460 //sandy brown
$color2: #B2E0E6 // powder blue

$gray: #DCDCDC
$darkGray: #757575
$black: #222
$lightGray: #F2F2F2
$lighterGray: #F8F8F8

body
  font-family: sans-serif
  font-weight: 100
  letter-spacing: 0.01em
  a
    text-decoration: none
  a:hover
    text-decoration: underline

  .main
    margin: 0 $stdMargin
    @media #{$phoneQuery}
      margin: 0 $phoneMargin

    .page_links
      font-size: 1.5em
      *
        padding-right: 1.5%

  // http://callmenick.com/post/various-css-input-text-styles
  input[type="text"]
    display: inline-block
    margin: 0
    width: 100%
    font-size: 1em
    appearance: none
    box-shadow: none
    border-radius: none
    padding: 10px
    border: solid 1px $gray
    transition: box-shadow 0.3s, border 0.3s
  input[type="text"]:hover
    border: solid 1px $darkGray
  input[type="text"]:focus
    outline: none
    border: solid 1px $color2

  input[type="submit"]
    border: none
    background-color: $lightGray
    color: $darkGray
    font-weight: 600
    letter-spacing: .5
    font-size: 1em
    padding: .75em 1em
  input[type="submit"]:hover
    background-color: $lighterGray
    color: $black

  .results-search
    form.search
      display: table
    .search-box
      display: table-cell
      width: 30em
      @media #{$phoneQuery}
        width: 100%
    input[type="submit"]
      margin: 0 0 0 .5em
      @media #{$phoneQuery}
        margin-right: $phoneMargin
    .small-logo
      width: 3.5em
      font-size: 2em
      text-align: right
      padding-right: 0.75em
      @media #{$phoneQuery}
        display: none
      a:hover
        text-decoration: none

  .logo, .small-logo
    .orange
      color: $color1
    .blue
      color: $color2
  .splash-container
    margin: 5em auto 0
    text-align: center
    .logo
      font-size: 4em
      margin-bottom: 0.25em
    .tagline
      margin-bottom: 1.5em
    .small-logo
      display: none

    input[type="text"]
      display: block
      width: 100%
      max-width: 600px
      margin: 0 auto

    input[type="submit"]
      margin-top: 1.5em
      padding: .5em 1em

  .main
    .item
      margin-bottom: 1em

      .title
        font-size: 1.5em
        margin-bottom: 0.25em
      .artist
        font-size: 1.25em
        margin-bottom: 0.25em
      .type
        color: green

